<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

    <div class="event-show">
        <h3>{event.title}</h3>
        <f:if condition="{event.subtitle}"><h4>{event.subtitle}</h4></f:if>
        <f:format.html>{event.description}</f:format.html>
    </div>

    <f:if condition="{event.speakers}">
        <h3>Speaker</h3>
        <ul>
            <f:for each="{event.speakers}" as="speaker">
                <li>{speaker.title}</li>
            </f:for>
        </ul>
    </f:if>

</f:section>